.box{
    width: 200px;
    height: 200px;
    background-color: aqua;
    animation-name: box;
    animation-duration: 6s; /*duracion*/
    /*animation-iteration-count: infinite; /*cuantas veces deseo se repita*/
    animation-delay: 1s; /*retardo */
      position: relative;
}
/*
@keyframes box {
    from{ background-color: black;}
    to{ background-color: blueviolet;}
    
}*/
/*
@keyframes box {
    0%{ background-color: blue;}
    25%{ background-color:#9e1818;}
    50%{ background-color: aqua;}
    75%{ background-color: blueviolet;}
    100%{ background-color: cadetblue;}

    
}*/
@keyframes box {
    0%{ background-color: blue; left:0; top: 0;}
    25%{ background-color:#9e1818;left:400px; top: 0;}
    50%{ background-color: aqua; left:400px; top: 400px;}
    75%{ background-color: blueviolet;left:0px; top: 400px;}
    100%{ background-color: cadetblue;left:0px; top: 0px;}

    
}
