@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*DECLARACION DE VARIABLES CSS*/
:root{
    --primary-color:#061E29;
    --secundary-color:#00f2ff;
    --white:#ffff;
    --white-font:#F3F4F4;
    --black:#000000;
    --gray-dark:#1e1e1e;

}
/*REGLA DE ORO CSS ACTUALMENTE PARA QUE EL SITIO WEB NO SE DESBORDE*/
html{
    box-sizing: border-box;
    /* hace que no se desborde la pagina*/
}

*,*:before, *:after{
box-sizing: inherit;
}



 /*FIN DECLARACION DE VARIABLES*/
body{
    background-color:var(--primary-color);
    color: var(--white-font);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal ;
    line-height: 1.5rem;
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
    
}
a{
    text-decoration: none;
    color: var(--white-font);
}
a:hover{
    color: var(--secundary-color);
}
.navbar{
    display: flex;
    justify-content: space-between;
    /*background-color: #061E29; fondo menu*/
    padding: 0;
    margin: 0;
}
.navbar-list{
    display: flex;
    gap: 20px;
}
/*
.navbar-list li{
    border-right: 1px solid aqua;
}*/
.navbar-list a{
   /* display: block;*/
    font-size: 16px;
    color: var(--white-font);/*color de letras*/
    padding: 0.5rem 0.5rem;
    
}
.navbar-list a:hover{
    color: aqua;/*color mouse por arriba*/
}

.logo{
    width: 250px;
}
.quienes-somos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:20px;
    color: var(--white-font);
    }
.padding-40{
    padding: 0px 40px 0 0;
}
.padding-20{
    padding:  20px 0px 0px 0px;
}
.img-responsive{
    width: 400px;/*unidades absolutas*/
    border: 1px solid white;
    border-radius: 15px;
}
.quienes-somos h2{
    color: aqua; /*color de la tipografia*/
    font-size: 36px; /*tamanio de la fuente*/
    font-weight: 800;/*peso, es decir que tan gordita es*/
}
.servicios-container{
    background-color: var(--secundary-color);
    padding: 80px 30px;
    color: var(--gray-dark);
  
}
.servicios{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
row-gap: 20px;

}
.center{
    text-align: center;
}

.footer-container{
    background-color: var(--gray-dark);
    padding: 50px 0px 0px 0px;
    font-size: 12px;
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:20px;
    padding: 0px 40px;
}
.footer h3{
    color: var(--secundary-color);
}
.logo-footer{
    max-width: 200px;
}
.social-icons{
    display:flex;
    justify-content: flex-start;
    gap: 15px;
}
.copyright{
    background-color: var(--black);
    padding: 10px 30px;
    font-size: 10px;
}
/*CONTACTO*/
.contacto-container{
    background-color: var(--primary-color);
    padding: 50px 0px;
}
.contacto{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
input[type="text"],[type="email"],[type="date"]{
    width: 100%;
    border: 1px solid var(--gray-dark);
    color: var(--gray-dark);
    border-radius: 12px;
    padding: 5px;
}
label{
    width: 100%;
    font-size: 16px;
    padding: 5px;

}
select{
     width: 100%;
    border: 1px solid var(--gray-dark);
    color: var(--gray-dark);
    border-radius: 12px;
    padding: 5px;
}
textarea{
     width: 100%;
    border: 1px solid var(--gray-dark);
    color: var(--gray-dark);
    border-radius: 12px;
    padding: 5px;
}

input[type="submit"]{
    background-color: var(--secundary-color);
    color: var(--primary-color);
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}
input[type="submit"]:hover{
    background-color: var(--black);
    color: var(--secundary-color);
   
}

.contacto .col{
    padding: 30px;

}